@model int
    <li class="nav-item">
        <form action="cart">
            <button>
                <i class="ti-shopping-cart"></i>
                <span class="nav-shop__circle">@Model</span>
            </button>
        </form>
    </li>